<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872812794276-rac9i72da2k01ibfoq40fhijohuaofka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872812794276-rac9i72da2k01ibfoq40fhijohuaofka</string>
	<key>API_KEY</key>
	<string>AIzaSyCs00E23INF3fBOsXvhOWNcoikhrayJ0Es</string>
	<key>GCM_SENDER_ID</key>
	<string>872812794276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.khadaBook</string>
	<key>PROJECT_ID</key>
	<string>expancestracker</string>
	<key>STORAGE_BUCKET</key>
	<string>expancestracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872812794276:ios:bc85479d8646d9db23f131</string>
</dict>
</plist>